@import "utils";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  color: $main-text-color;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Infant", serif;
  color: $titles-color;
}

main {
  background: $bg-sections-color;
}

.section-wrapper {
  margin: 0 auto;
  max-width: 1136px;
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
