$bg-sections-color: #f4f4f4;
$links-buttons-color: #48974c;
$main-text-color: #737373;
$titles-color: #262626;
$secondary-text-color: #a6a6a6;
$footer-bg-color: #404040;
$footer-copyright-color: #808080;
